In [6]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('online_gaming_behavior_dataset.csv')

In [3]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40034 entries, 0 to 40033
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PlayerID                   40034 non-null  int64
 1   Age                        40034 non-null  int64
 2   Gender                     40034 non-null  object
 3   Location                   40034 non-null  object
 4   GameGenre                  40034 non-null  object
 5   PlayTimeHours              40034 non-null  float64
 6   InGamePurchases            40034 non-null  int64
 7   GameDifficulty             40034 non-null  object
 8   SessionsPerWeek            40034 non-null  int64
 9   AvgSessionDurationMinutes  40034 non-null  int64
 10  PlayerLevel                40034 non-null  int64
 11  AchievementsUnlocked       40034 non-null  int64
 12  EngagementLevel            40034 non-null  object
dtypes: float64(1), int64(7), object(5)
memory usage: 4.0+ MB

,PlayerID,Age,PlayTimeHours,InGamePurchases,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked
count,40034.000000,40034.000000,40034.000000,40034.000000,40034.000000,40034.000000,40034.000000,40034.000000
mean,29016.500000,31.992531,12.024365,0.200854,9.471774,94.792252,49.655568,24.526477
std,11556.964675,10.043227,6.914638,0.400644,5.763667,49.011375,28.588379,14.430726
min,9000.000000,15.000000,0.000115,0.000000,0.000000,10.000000,1.000000,0.000000
25%,19008.250000,23.000000,6.067501,0.000000,4.000000,52.000000,25.000000,12.000000
50%,29016.500000,32.000000,12.008002,0.000000,9.000000,95.000000,49.000000,25.000000
75%,39024.750000,41.000000,17.963831,0.000000,14.000000,137.000000,74.000000,37.000000
max,49033.000000,49.000000,23.999592,1.000000,19.000000,179.000000,99.000000,49.000000

In [4]:
df.isnull().sum()

PlayerID                     0
Age                          0
Gender                       0
Location                     0
GameGenre                    0
PlayTimeHours                0
InGamePurchases              0
GameDifficulty               0
SessionsPerWeek              0
AvgSessionDurationMinutes    0
PlayerLevel                  0
AchievementsUnlocked         0
EngagementLevel              0
dtype: int64

In [5]:
df.head()

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
0,9000,43,Male,Other,Strategy,16.271119,0,Medium,6,108,79,25,Medium
1,9001,29,Female,USA,Strategy,5.525961,0,Medium,5,144,11,10,Medium
2,9002,22,Female,USA,Sports,8.223755,0,Easy,16,142,35,41,High
3,9003,35,Male,USA,Action,5.265351,1,Easy,9,85,57,47,Medium
4,9004,33,Male,Europe,Action,15.531945,0,Medium,2,131,95,37,Medium

In [7]:
#change InGamePurchases 0 = No 1 = Yes
df['InGamePurchases'] = np.where(df['InGamePurchases'] == 0, 'No', 'Yes')
df.head()

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
0,9000,43,Male,Other,Strategy,16.271119,No,Medium,6,108,79,25,Medium
1,9001,29,Female,USA,Strategy,5.525961,No,Medium,5,144,11,10,Medium
2,9002,22,Female,USA,Sports,8.223755,No,Easy,16,142,35,41,High
3,9003,35,Male,USA,Action,5.265351,Yes,Easy,9,85,57,47,Medium
4,9004,33,Male,Europe,Action,15.531945,No,Medium,2,131,95,37,Medium

In [11]:
#groupby GameGenre
byGameGenreMeans = df.groupby('GameGenre')[['Age','PlayTimeHours','SessionsPerWeek','AvgSessionDurationMinutes', 'PlayerLevel', 'AchievementsUnlocked']].mean()
byGameGenreCounts = df.groupby('GameGenre')['PlayerID'].count()
print(byGameGenreMeans.head())
print(byGameGenreCounts.head())

                  Age  PlayTimeHours  SessionsPerWeek  \
GameGenre
Action      31.952482      12.164645         9.472820
RPG         31.813003      12.008113         9.405810
Simulation  32.185895      11.898085         9.440436
Sports      31.994036      11.968329         9.497391
Strategy    32.016725      12.081855         9.541687

            AvgSessionDurationMinutes  PlayerLevel  AchievementsUnlocked
GameGenre
Action                      94.782933    49.802836             24.582784
RPG                         93.741952    49.433602             24.518234
Simulation                  94.739572    49.245396             24.554052
Sports                      95.046098    49.890780             24.397242
Strategy                    95.641538    49.900524             24.580504
GameGenre
Action        8039
RPG           7952
Simulation    7983
Sports        8048
Strategy      8012
Name: Gender, dtype: int64

In [13]:
#groupby GameDifficulty
byGameDifficultyMeans = df.groupby('GameDifficulty')[['Age','PlayTimeHours','SessionsPerWeek','AvgSessionDurationMinutes', 'PlayerLevel', 'AchievementsUnlocked']].mean()
byGameDifficultyCounts = df.groupby('GameDifficulty')['PlayerID'].count()
print(byGameDifficultyMeans.head())
print(byGameDifficultyCounts.head())

                      Age  PlayTimeHours  SessionsPerWeek  \
GameDifficulty
Easy            32.020435      12.012553         9.438071
Hard            31.954046      12.039010         9.501374
Medium          31.971693      12.034286         9.508201

                AvgSessionDurationMinutes  PlayerLevel  AchievementsUnlocked
GameDifficulty
Easy                            94.780465    49.511416             24.533000
Hard                            95.217158    49.971653             24.190934
Medium                          94.528599    49.685039             24.739322
GameDifficulty
Easy      20015
Hard       8008
Medium    12011
Name: Gender, dtype: int64

In [14]:
#groupby Location
byLocationMeans = df.groupby('Location')[['Age','PlayTimeHours','SessionsPerWeek','AvgSessionDurationMinutes', 'PlayerLevel', 'AchievementsUnlocked']].mean()
byLocationCounts = df.groupby('Location')['PlayerID'].count()
print(byLocationMeans.head())
print(byLocationCounts.head())

                Age  PlayTimeHours  SessionsPerWeek  \
Location
Asia      32.066831      12.194502         9.487832
Europe    31.808730      11.931396         9.482506
Other     31.962389      12.060967         9.442440
USA       32.100250      11.999035         9.462813

          AvgSessionDurationMinutes  PlayerLevel  AchievementsUnlocked
Location
Asia                      94.836072    49.841878             24.588635
Europe                    94.183106    49.238254             24.554482
Other                     94.943837    50.181957             24.154511
USA                       95.189813    49.744937             24.565500
Location
Asia       8095
Europe    12004
Other      3935
USA       16000
Name: Gender, dtype: int64

In [15]:
#groupby Gender
byGenderMeans = df.groupby('Gender')[['Age','PlayTimeHours','SessionsPerWeek','AvgSessionDurationMinutes', 'PlayerLevel', 'AchievementsUnlocked']].mean()
byGenderCounts = df.groupby('Gender')['PlayerID'].count()
print(byGenderMeans.head())
print(byGenderCounts.head())

              Age  PlayTimeHours  SessionsPerWeek  AvgSessionDurationMinutes  \
Gender
Female  32.017978      11.969376         9.517449                  94.982208
Male    31.975458      12.061260         9.441129                  94.664802

        PlayerLevel  AchievementsUnlocked
Gender
Female    49.423639             24.460031
Male      49.811177             24.571059
Gender
Female    16075
Male      23959
Name: PlayerID, dtype: int64